{% extends 'base.html.twig' %}

{% block title %}{{product.title}}{% endblock %}

{% block body %}
    <h1>{{product.title}}</h1>
    <div>
        {{product.description | nl2br | raw}} 
    </div>
{% endblock %}
